ProcessAttachments-CCPS.definition.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "defaultValue": "ProcessAttachments",
      "metadata": {
        "description": "The name of the Logic App."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "The location of the Logic App."
      }
    },
    "azureblobConnectionName": {
      "type": "string",
      "defaultValue": "azureblob",
      "metadata": {
        "description": "The resource name to use for the Azure Blob storage account connection"
      }
    },
    "azureblobConnectionDisplayName": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      }
    },
    "azureblobAccountName": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "The display name of the storage account the connector should use."
      }
    },
    "azureblobAccessKey": {
      "type": "secureobject",
      "defaultValue": "",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    },
    "outlookConnectionName": {
      "type": "string",
      "defaultValue": "outlook",
      "metadata": {
        "description": "The resource name to use for the Office 365 Outlook connection"
      }
    },
    "outlookConnectionDisplayName": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "The display name of the Office 365 Outlook account the connector should use."
      }
    },
    "emailAccount": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "The email address of the Office 365 Outlook account the connector should use."
      }
    },
    "functionAppName": {
      "type": "string",
      "defaultValue": "EmailHTMLCleanApp",
      "metadata": {
        "description": "The name of the Function App to remove the HTML."
      }
    },
    "functionName": {
      "type": "string",
      "defaultValue": "RemoveHTMLFunction",
      "metadata": {
        "description": "The name of the Function for Removing the HTML from body."
      }
    },
    "attachmentsContainerName": {
      "type": "string",
      "defaultValue": "/attachments",
      "metadata": {
        "description": "The name of the container to store the attachments."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "apiVersion": "2017-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azureblobConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', parameters('outlookConnectionName'))]"
      ],
      "location": "[parameters('location')]",
      "name": "[parameters('logicAppName')]",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_new_email_arrives_(V2)": {
              "splitOn": "@triggerBody()?['value']",
              "type": "ApiConnectionNotification",
              "inputs": {
                "fetch": {
                  "method": "get",
                  "pathTemplate": {
                    "template": "/v2/Mail/OnNewEmail"
                  },
                  "queries": {
                    "fetchOnlyWithAttachment": true,
                    "folderPath": "Inbox",
                    "importance": "Any",
                    "includeAttachments": true,
                    "to": "[parameters('emailAccount')]"
                  }
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['outlook']['connectionId']"
                  }
                },
                "subscribe": {
                  "body": {
                    "NotificationUrl": "@{listCallbackUrl()}"
                  },
                  "method": "post",
                  "pathTemplate": {
                    "template": "/MailSubscriptionPoke/$subscriptions"
                  },
                  "queries": {
                    "fetchOnlyWithAttachment": true,
                    "folderPath": "Inbox",
                    "importance": "Any"
                  }
                }
              }
            }
          },
          "actions": {
            "Condition": {
              "actions": {
                "Create_blob_(V2)": {
                  "runAfter": {
                    "RemoveHTMLFunction": ["Succeeded"]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@body('RemoveHTMLFunction')",
                    "headers": {
                      "ReadFileMetadataFromServer": true
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                    "queries": {
                      "folderPath": "[parameters('attachmentsContainerName')]",
                      "name": "@triggerBody()?['From']",
                      "queryParametersSingleEncoded": true
                    }
                  }
                },
                "For_each": {
                  "foreach": "@triggerBody()?['Attachments']",
                  "actions": {
                    "Condition_2": {
                      "actions": {
                        "Create_blob_(V2)_2": {
                          "runAfter": {},
                          "type": "ApiConnection",
                          "inputs": {
                            "body": "@base64ToBinary(items('For_each')?['contentBytes'])",
                            "headers": {
                              "ReadFileMetadataFromServer": true
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                            "queries": {
                              "folderPath": "[parameters('attachmentsContainerName')]",
                              "name": "@items('For_each')?['name']",
                              "queryParametersSingleEncoded": true
                            }
                          },
                          "runtimeConfiguration": {
                            "contentTransfer": {
                              "transferMode": "Chunked"
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "and": [
                          {
                            "endsWith": ["@items('For_each')?['Name']", ".xls"]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Create_blob_(V2)": ["Succeeded"]
                  },
                  "type": "Foreach"
                },
                "RemoveHTMLFunction": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "emailBody": "@triggerBody()?['Body']"
                    },
                    "function": {
                      "id": "[resourceId('Microsoft.Web/sites', parameters('functionAppName'), 'functions', parameters('functionName'))]"
                    }
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": ["@triggerBody()?['HasAttachment']", true]
                  }
                ]
              },
              "type": "If"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureblobConnectionName'))]",
                "connectionName": "[parameters('azureblobConnectionName')]"
              },
              "outlook": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/outlook')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('outlookConnectionName'))]",
                "connectionName": "[parameters('outlookConnectionName')]"
              }
            },
            "type": "Object"
          }
        },
        "state": "Enabled"
      },
      "scale": null,
      "tags": {
        "displayName": "LogicApp"
      },
      "type": "Microsoft.Logic/workflows"
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('outlookConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'outlook')]"
        },
        "displayName": "[parameters('outlookConnectionDisplayName')]"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azureblobConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'azureblob')]"
        },
        "displayName": "[parameters('azureblobConnectionDisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azureblobAccountName')]",
          "accessKey": "[parameters('azureblobAccessKey')]"
        }
      }
    }
  ]
}
